<extend name="Layout/index" />
<block name="breadcrumb-01">
	<li class="active">轮播图管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		轮播图管理
		<small>
			<i class="icon-double-angle-right"></i>
			轮播图列表
		</small>
	</h1>
</block>
<block name="main">

	<div class="row">
		<div class="col-md-12">
			<form action="<{:U('Img/doadd')}>" method='post' class="form-horizontal" enctype="multipart/form-data">

				<div class="form-group" style="">
					<label for="" class="col-sm-2 control-label">图片：</label>
					<div class="col-sm-4">
						<input type="file" name="img" class="" placeholder="">
						<p>(建议使用1920*540，否则图片变形)</p>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">链接 ：</label>
					<div class="col-sm-4">
						<input type="text" name="url" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">状态：</label>
					<div class="col-sm-4">
						<input type="radio" name="is_valid" value="1" checked>启用
						<input type="radio" name="is_valid" value="0" >禁用
					</div>
				</div>			
				<div class="form-group">
				    <div class="col-sm-offset-2 col-sm-4">
				      <button type="submit" style="width: 100px;border-radius: 10px" class="btn btn-default">添 加</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
</block>