<extend name="Layout/index" />
<block name="breadcrumb-01">
    <li class="active">轮播图管理</li>
</block>

<block name="breadcrumb-02">
    <h1>
        轮播图管理
        <small>
            <i class="icon-double-angle-right"></i>
            轮播图修改
        </small>
    </h1>
</block>
<block name="main">
    <div class="row">
        <div class="col-md-12">
            <form action="<{:U('Img/save')}>" class="form-horizontal" enctype="multipart/form-data" method="post">

                <div class="form-group" style="">
                    <label for="" class="col-sm-2 control-label">图片：</label>
                    <div class="col-sm-4">
                        <input type="file" name="img" id="doc" onchange="javascript:setImagePreviews();" />(建议使用1920*540，否则图片变形)
                        <div id="dd" style=" width:990px;"><img src="__PUBLIC__<{$vo.img}>"  style="width:810px;height:270px;"/></div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">链接 ：</label>
                    <div class="col-sm-4">
                        <input type="text" name="url" class="form-control" placeholder="" value="<{$vo.url}>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">状态：</label>
                    <div class="col-sm-4">
                        <input type="radio" name="is_valid" value="1" <if condition="$vo.is_valid eq 1">checked</if>>启用
                        <input type="radio" name="is_valid" value="0" <if condition="$vo.is_valid eq 0">checked</if>>禁用
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <input type="hidden" name="id" value="<{$vo.id}>">
                        <button type="submit" class="btn btn-default">修 改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        //下面用于多图片上传预览功能
        function setImagePreviews(avalue) {
            var docObj = document.getElementById("doc");
            var dd = document.getElementById("dd");
            dd.innerHTML = "";
            var fileList = docObj.files;
            for (var i = 0; i < fileList.length; i++) {
                dd.innerHTML += "<div style='float:left' > <img id='img" + i + "'  /> </div>";
                var imgObjPreview = document.getElementById("img"+i);
                if (docObj.files && docObj.files[i]) {
                    //火狐下，直接设img属性
                    imgObjPreview.style.display = 'block';
                    imgObjPreview.style.width = '810px';
                    imgObjPreview.style.height = '270px';
                    //imgObjPreview.src = docObj.files[0].getAsDataURL();
                    //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
                    imgObjPreview.src = window.URL.createObjectURL(docObj.files[i]);
                }
                else {
                    //IE下，使用滤镜
                    docObj.select();
                    var imgSrc = document.selection.createRange().text;
                    alert(imgSrc)
                    var localImagId = document.getElementById("img" + i);
                    //必须设置初始大小
                    localImagId.style.width = "810px";
                    localImagId.style.height = "270px";
                    //图片异常的捕捉，防止用户修改后缀来伪造图片
                    try {
                        localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                        localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                    }
                    catch (e) {
                        alert("您上传的图片格式不正确，请重新选择!");
                        return false;
                    }
                    imgObjPreview.style.display = 'none';
                    document.selection.empty();
                }
            }
            return true;
        }
    </script>


</block>