<extend name="Layout/index" />
<block name="breadcrumb-01">
	<li class="active">管理员管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		管理员管理
		<small>
			<i class="icon-double-angle-right"></i>
			 管理员列表
		</small>
	</h1>
</block>
<block name="main">

	<div class="row">
		<div class="col-md-12">
			<form action="<{:U('Admin/doadd')}>" method='post' class="form-horizontal">

				<div class="form-group" style="">
					<label for="" class="col-sm-2 control-label">用户名：</label>
					<div class="col-sm-4">
						<input type="text" name="username" class="form-control" placeholder="请输入用户名">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">密  码 ：</label>
					<div class="col-sm-4">
						<input type="password" name="password_hash" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">确认密码：</label>
					<div class="col-sm-4">
						<input type="password" name="reuserpass" class="form-control" placeholder="">
					</div>
				</div>				
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">邮箱：</label>
					<div class="col-sm-4">
						<input type="text" name="email" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">状态：</label>
					<div class="col-sm-4">
						<input type="radio" name="status" value="10" checked>启用
						<input type="radio" name="status" value="0" >禁用
					</div>
				</div>

				<div class="form-group">
				    <div class="col-sm-offset-2 col-sm-4">
				      <button type="submit" style="width: 100px;border-radius: 10px" class="btn btn-default">添 加</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
</block>