<extend name="Layout/index" />
<block name="breadcrumb-01">
	<li class="active">人才招聘管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		人才招聘管理
		<small>
			<i class="icon-double-angle-right"></i>
			招聘列表
		</small>
	</h1>
</block>
<block name="main">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr align='left' bgcolor="#ccc">
					<th>ID</th>
					<th>标题</th>
					<th>薪资</th>
					<th>招聘人数</th>
					<th>工作年限</th>
					<th>状态</th>
					<th>创建时间</th>
					<th>修改时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			<volist name="list" id="vo">
				<tr>
					<td><{$vo.id}></td>
					<td><{$vo.title}></td>
					<td><{$vo.pay}></td>
					<td><{$vo.num}></td>
					<td><{$vo.work_time}></td>
					<td><if condition="$vo.is_valid eq 1">启用<else/>禁用</if></td>
					<td><{$vo.created_time|date="Y-m-d H:i",###}></td>
					<td><{$vo.updated_time|date="Y-m-d H:i",###}></td>
					<td>
						<a href="<{:U('Job/show',array('id'=>$vo['id']))}>">查看</a>
						<a href="<{:U('Job/edit',array('id'=>$vo['id']))}>">修改</a>
						<a href="<{:U('Job/del',array('id'=>$vo['id']))}>">删除</a>
					</td>
				</tr>
			</volist>
			</tbody>
		</table>
	
</block>