<extend name="Layout/index" />
<block name="breadcrumb-01">
	<li class="active">案例管理</li>
</block>

<block name="breadcrumb-02">
	<h1>
		案例管理
		<small>
			<i class="icon-double-angle-right"></i>
			添加案例
		</small>
	</h1>
</block>
<block name="main">

	<div class="row">
		<div class="col-md-12">
			<form action="<{:U('Case/doadd')}>" method='post' class="form-horizontal" enctype="multipart/form-data">

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">案例名称 ：</label>
					<div class="col-sm-4">
						<input type="text" name="title" class="form-control" placeholder="">
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">项目地址 ：</label>
					<div class="col-sm-4">
						<input type="text" name="address" class="form-control" placeholder="">
					</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">项目面积 ：</label>
					<div class="col-sm-4">
						<input type="text" name="area" class="form-control" placeholder="">
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">初始位置 ：</label>
					<div class="col-sm-4">
						<input type="text" name="seat" class="form-control" placeholder="建议填写100/200/300/400或百的倍数">
					</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">项目介绍 ：</label>
					<div class="col-sm-4">
						<!-- <input type="text" name="content" class="form-control" placeholder=""> -->
						<textarea style="width:450px;height:200px;" name="content"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">所属分类：</label>
					<div class="col-sm-4">
						<input type="radio" name="type_id" value="1" checked>商业空间
						<input type="radio" name="type_id" value="2" >娱乐空间
						<input type="radio" name="type_id" value="3" >酒店会所
						<input type="radio" name="type_id" value="4" >住宅空间
					</div>
				</div>	

				<div class="form-group">
					<label for="" class="col-sm-2 control-label">展示状态：</label>
					<div class="col-sm-4">
						<input type="radio" name="is_valid" value="1" checked>启用
						<input type="radio" name="is_valid" value="0" >禁用
					</div>
				</div>	

				<div class="form-group" style="">
					<label for="" class="col-sm-2 control-label">案例图片：</label>
					<div class="col-sm-4">
						<input type="file" name="img" class="" placeholder="">
						<p>(建议使用400*300，否则图片变形)</p>
					</div>
				</div>

				<div class="form-group">
				    <div class="col-sm-offset-2 col-sm-4">
				      <button type="submit" style="width: 100px;border-radius: 10px" class="btn btn-default">添 加</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
</block>